.word {
    font-size: 4rem;
    letter-spacing: 0.2rem;
}

.cursor {
    position: absolute;
    margin-left: -0.5rem;
    color: #f6c177;
}

.blinking_cursor {
    animation: blink 1s infinite;
}
  
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.letter {
    opacity: 0.3;
}

.letter.correct {
    opacity: 1;
}