.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 4rem;
}

img {
    filter: invert(51%) sepia(98%) saturate(391%) hue-rotate(9deg) brightness(92%) contrast(87%);
}