.main {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  font-size: 12rem;
}

.result-text {
  font-size: 2rem;
}

.list {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  li {
    list-style: circle;
    cursor: pointer;
  }
}