:root {
  --main-color: #dfb312;
  --btn-text-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  font-size: 24px;
  color: var(--text-color);
}

.username,
.password {
  font-size: 24px;
  display: block;
  margin: 10px 0;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 8px;
  border-radius: 8px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 24px;
  margin-top: 10px;
  background: var(--main-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 8px;
  padding: 10px 24px;

  &:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    filter: brightness(80%);
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  }
}